<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
  <canvas id="myChart"></canvas>
</div>

<script>

const DATA_COUNT = 7;
const NUMBER_CFG = {count: DATA_COUNT, min: -100, max: 100};

const labels = [1];
const data = {
  labels: labels,
  datasets: [
    {
      label: 'acceleration_x',
      data: [0],
      borderColor: 'red',
      backgroundColor: 'white'
      //borderColor: Utils.CHART_COLORS.red,
      //backgroundColor: Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
    }
  ]
};


const config = {
  type: 'line',
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Chart.js Line Chart'
      }
    }
  },
};

const myChart = new Chart(
  document.getElementById('myChart'),
  config
);
</script>

<script>
  var source = new window.EventSource('/stream?name=test')

  source.addEventListener('message', function(e) {
    var stats = JSON.parse(e.data)
    console.log(e.data);
    config.data.datasets[0].data.push(stats['acceleration']['x'])
    config.data.labels.push(labels[labels.length-1] + 1)
    myChart.update();
  }, false);

  source.addEventListener('open', function(e) {
    console.log('open');
    // Connection was opened.
  }, false);

  source.addEventListener('error', function(e) {
    console.log('error');
    if (e.readyState == EventSource.CLOSED) {
      console.log('closed');
      // Connection was closed.
    }
  }, false);
</script>
