<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="position: relative; height:400px; width:80vw">
  <canvas id="accelerationChart"></canvas>
</div>
<p>
<div style="position: relative; height:400px; width:80vw">
  <canvas id="gyroChart"></canvas>
</div>

<script>

const DATA_COUNT = 7;
const NUMBER_CFG = {count: DATA_COUNT, min: -100, max: 100};

const labels = [1];
const accelerationData = {
  labels: labels,
  datasets: [
    {
      label: 'acceleration_x',
      data: [0],
      borderColor: 'red',
      backgroundColor: 'white'
    },
    {
      label: 'acceleration_y',
      data: [0],
      borderColor: 'green',
      backgroundColor: 'white'
    },
    {
      label: 'acceleration_z',
      data: [0],
      borderColor: 'blue',
      backgroundColor: 'white'
    }
  ]
};

const gyroData = {
  labels: labels,
  datasets: [
    {
      label: 'gyro_x',
      data: [0],
      borderColor: 'red',
      backgroundColor: 'white'
    },
    {
      label: 'gyro_y',
      data: [0],
      borderColor: 'green',
      backgroundColor: 'white'
    },
    {
      label: 'gyro_z',
      data: [0],
      borderColor: 'blue',
      backgroundColor: 'white'
    }
  ]
};


const accelerationConfig = {
  type: 'line',
  data: accelerationData,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'mpu6050 Acceleration chart'
      }
    }
  },
};

const gyroConfig = {
  type: 'line',
  data: gyroData,
  options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'mpu6050 Gyro chart'
      }
    }
  },
};


const accelerationChart = new Chart(
  document.getElementById('accelerationChart'),
  accelerationConfig
);

const gyroChart = new Chart(
  document.getElementById('gyroChart'),
  gyroConfig
);

</script>

<script>
  var source = new window.EventSource('/stream?name=test')

  source.addEventListener('message', function(e) {
    var stats = JSON.parse(e.data)
    console.log(e.data);
    accelerationConfig.data.datasets[0].data.push(stats['acceleration']['x'])
    accelerationConfig.data.datasets[1].data.push(stats['acceleration']['y'])
    accelerationConfig.data.datasets[2].data.push(stats['acceleration']['z'])
    accelerationConfig.data.labels.push(labels[labels.length-1] + 1)
    accelerationChart.update();

    gyroConfig.data.datasets[0].data.push(stats['gyro']['x'])
    gyroConfig.data.datasets[1].data.push(stats['gyro']['y'])
    gyroConfig.data.datasets[2].data.push(stats['gyro']['z'])
    gyroChart.update();

  }, false);

  source.addEventListener('open', function(e) {
    console.log('open');
    // Connection was opened.
  }, false);

  source.addEventListener('error', function(e) {
    console.log('error');
    if (e.readyState == EventSource.CLOSED) {
      console.log('closed');
      // Connection was closed.
    }
  }, false);
</script>
